.main-content {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 20px;
    font-size: larger;
    z-index: 2;
}

.container-fluid {
    padding: 0;
    /* Removes unnecessary spacing */
}


.links {
    align-items: center;
    padding: 20px;
}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hero {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-text-overlay {
    flex: 1;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: white;
    z-index: 2;
}

.hero-text-header {
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
}

.hero-text-body {
    font-size: 18px;
}

.hero-btn {
    width: fit-content;
    border-radius: 0px;
    padding: 20px;
    background-color: #5017ac;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
}

.hero-btn:hover {
    background-color: #3a1379;
}

.carousel,
.carousel-inner,
.carousel-item {
    height: 100%;
}


.hero-image {
    align-items: center;
    justify-content: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.9;
}

.black-overlay {
    position: absolute;
    left: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: 1;
}

.partner-companies {
    margin-top: 70px;
}




/* About US Section */
.aboutus-section {
    margin-top: 100px;
}

.aboutus-heading {
    font-size: 40px;
    font-weight: bold;
}

.aboutus-content {
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
}

/* .aboutus-image {
    height: 200px;
    clip-path: url(#blobClipPath);
    object-fit: cover;
} */

.aboutus-image {
    background-size: cover;
}

.aboutus-header {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

.aboutus-cta {
    padding: 8px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.ourservices-section {
    margin-top: 100px;
}

.ourservices-heading {
    font-size: 40px;
    font-weight: bold;
}


/* About US Section */

@media (min-width: 992px) {

    /* Apply only for desktop */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        animation: fadeIn 0.3s ease-in-out;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        position: relative;
    }

    .navbar {
        z-index: 3;
    }

    .navbar-toggler {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
    }

    .hero-text-overlay {
        width: 100%;
    }

    /* Applies to mobile view */
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: start;
        height: 100vh;
    }

    .offcanvas-body .navbar-nav {
        width: 100%;
    }

    .offcanvas-body .nav-item {
        width: 100%;
    }

    .offcanvas-body .nav-link {
        padding: 15px;
        display: block;
    }

    .dropdown-icon {
        height: 15px;
        transition: transform 0.3s none;
        /* Add padding for spacing */
    }


    /* Ensure custom icon is on the right */
    .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .navbar .dropdown-toggle::after {
        display: none;
    }

    .nav-item .dropdown-toggle[aria-expanded="true"] .dropdown-icon {
        transform: rotate(180deg);
    }

}