/* Sidebar Styling */
.sidebar {
  width: 280px;
  /* Fixed width */
  height: 100vh;
  /* Full viewport height */
  position: sticky;
  /* Sticks to the top */
  top: 0;
  /* Sticks to the top */
  overflow-y: auto;
  /* Enables scrolling */
  background-color: #212529;
  /* Dark theme */
  color: white;
  overflow-x: hidden;
}

/* Prevents the entire page from scrolling when scrolling the sidebar */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Main Content Styling */
.main-content {
  width: calc(100% - 280px);
  flex-grow: 1;
  overflow-y: auto;
  /* Allows scrolling of main content */
  height: 100vh;
  /* Ensures content fills height */
}

.main-content::-webkit-scrollbar {
  width: 8px;
}

.main-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.preview-image {
  border-radius: 5px;
}

.pulse-green {
  animation: pulseGreen 1.5s infinite alternate;
}

@keyframes pulseGreen {
  0% {
    box-shadow: 0 0 0px rgba(40, 167, 69, 0.4);
  }

  100% {
    box-shadow: 0 0 15px rgba(40, 167, 69, 1);
  }
}

.pulse-red {
  animation: pulseRed 1.5s infinite alternate;
}

@keyframes pulseRed {
  0% {
    box-shadow: 0 0 0px rgba(220, 53, 69, 0.4);
  }

  100% {
    box-shadow: 0 0 15px rgba(220, 53, 69, 1);
  }
}

.custom-placeholder-dark::placeholder {
  color: #a8a8a8;
  opacity: 1;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.spinner div {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background: #f39c12;
  /* GOLD */
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.spinner div:nth-child(2) {
  animation-delay: -0.32s;
}

.spinner div:nth-child(3) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.5;
  }

  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.jodit-wysiwyg {
  color: #000000 !important;
}

.blog-content {
  white-space: normal;
  /* Wrap the text */
  word-wrap: break-word;
  /* Break long words */
  overflow-wrap: break-word;
  /* Break words if necessary */
  line-height: 1.4;
  /* Reduce the line height */
}